<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Log Reader OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2D80FFE2259AB01005A86A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2D810102259AB03005A86A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2D8101B2259AB03005A86A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
